.cycleText {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.greeting {
  display: inline-block;
  font-family: var(--font-code);
  font-weight: 500;
}